<div class="flex items-center justify-center mt-32">
  <div class="flex">
    <div class="mr-20">
      <a href="/perfil" class="text-center block p-4 bg-gray-50 ml-4 rounded-lg overflow-hidden shadow-md">
        <img src="https://i.ibb.co/wRSH8kH/perfil.png" alt="perfil"  class="mx-auto rounded-lg">
        <h1 class="text-3xl font-semibold text-gray-600 dark:text-black-400 mt-4">
          Editar suas credenciais
        </h1>
      </a>
    </div>
    <div class="">
      <a href="/editar" class="text-center block p-4 bg-gray-50 ml-4 rounded-lg overflow-hidden shadow-md">
        <img src="https://i.ibb.co/NxqCYXL/edificio-do-restaurante.png" alt="edificio-do-restaurante" class="mx-auto rounded-lg">
        <h1 class="text-3xl font-semibold text-gray-600 dark:text-black-400 mt-4">
          Editar um restaurante
        </h1>
      </a>
    </div>
  </div>
</div>
