
<div class="flex justify-center items-center mt-4 mb-4">
  <!-- <div class="mx-2 rounded-full border border-gray-300 p-2 flex items-center">
    <img width="32" height="32" src="https://img.icons8.com/material-rounded/24/marker.png" alt="marker"/>
    <input  [(ngModel)]="seletor.rua" class="ml-2 font-segoe-ui border-none focus:outline-none" placeholder="Rua">
  </div> -->

  <button (click)="exibirModalDeFiltros() "class="mx-2 rounded-full border border-gray-300 p-2 flex items-center">
    <img width="32" height="32" src="https://img.icons8.com/ios-glyphs/30/star--v1.png" alt="star--v1"/>
    <p class="ml-2 font-segoe-ui">Filtros</p>
  </button>
  <!-- <button class="mx-2 rounded-full border border-gray-300 p-2 flex items-center">
    <img width="32" height="32" src="https://img.icons8.com/windows/32/five-of-five.png" alt="five-of-five"/>
    <p class="ml-2 font-segoe-ui">Maior avaliação</p>
  </button> -->
</div>


<div class="mt-2 ml-8 mr-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-1">
  <div
    class="bg-white ml-4 rounded-lg overflow-hidden mb-2"
    *ngFor="let restaurante of restaurantes; let i = index">

    <a href="/detalhe">
      <img [src]="restaurantes[i]?.imagem" alt="{{ restaurante.nome }}" class=" cursor-pointer rounded-lg w-full h-60 object-cover"
      (click)="selecionarRestaurante(restaurante.id)"
      (mouseenter)="onMouseEnter(i)"
      (mouseleave)="onMouseLeave()"
      [class.hovered]="hoveredIndex === i"/>
    </a>
    <div class="p-1">
      <h3 class="text-xl font-semibold">{{ restaurante.nome }}</h3>
      <p class="text-gray-700">{{ restaurante.avaliacao }}</p>
      <div class="media-avaliacoes">
        <p-rating [cancel]="false" [readonly]="true" [stars]="1"></p-rating>
        <span class="ml-2">{{ restaurante.mediaAvaliacoes }}</span>
      </div>
  </div>
</div>




